{% extends 'demo/base.html' %}
{% load bootstrap3 %}



{% block content %}

<script>
$(function () {
    $('#diagSubmit').click(function (e) {
        $("#diagForm").submit();
    });
    $('#patientsSearch').keyup(function() {
        var val = $(this).val();
        if (!val) {
            $('.patient').show();
        } else {
            $('.patient').hide();
            $('.patient:contains("' + val + '")').show();
        }
    });
});
</script>

<style>
    body {
        background: #fafafa;
    }
    .tab-content {
        background: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 5px 5px;
    }
    .nav-tabs a {
        font-size: 22px;
    }
</style>

<div>
<!--     <nav class="navbar navbar-default">
      <div class="container-fluid">


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#analysis" aria-controls="home" role="tab" data-toggle="tab">Анализ</a></li>
            <li><a href="#patients" aria-controls="patients" role="tab" data-toggle="tab">Пациенты</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Помощь</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#analysis" aria-controls="home" role="tab" data-toggle="tab">Анализ</a></li>
        <li role="presentation"><a href="#patients" aria-controls="patients" role="tab" data-toggle="tab">Пациенты</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="analysis" style="padding: 10px 0;">
            {% if diag_success %}
                <div class="alert alert-success" role="alert">Диагноз успешно записан!</div>
            {% endif %}
            <h3>Пациент</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if person %}
                        <h4><strong>ФИО:</strong> {{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</h4>
                        <h4><strong>Возраст:</strong> {{ person.age }}</h4>
                    {% else %}
                        <h4><strong>ФИО:</strong> <em>пациент не выбран</em></h4>
                        <h4><strong>Возраст:</strong> <em>пациент не выбран</em></h4>
                    {% endif %}
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#selectPersonModal">
              Выбрать пациента
            </button>
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#putDiagnosisModal">
              Поставить диагноз
            </button>


            <!-- Modal -->
            <div class="modal fade" id="selectPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Список пациентов</h4>
                  </div>
                  <div class="modal-body">
                        {% for person in persons %}
                            <p><a href="?person={{ person.id }}">{{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</a></p>
                        {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="putDiagnosisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Установить диагноз</h4>
                    </div>
                   <div class="modal-body">
                        {% if person %}
                            <form role="form"  method="post" id="diagForm" action="/write_diag">
                                {% csrf_token %}
                                <input type="hidden" name="person" value="{{ person.id }}" /> 
                                <textarea class="form-control" rows="3" name="diagnosis">{{ person.diagnosis }}</textarea>
                            </form>
                            {% else %}
                            <p>Сначала необходимо выбрать пациента</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="diagSubmit">Сохранить</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="patients" style="padding: 10px 0;">
            <h3>Список пациентов</h3>
            <form>
                    <div class="form-group" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="email" class="form-control input-lg" style="width: 100%;" id="patientsSearch" placeholder="Поиск...">
                            </div>
                            <div class="col-xs-2">
                                <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;">+ Пациент</button>
                            </div>
                        </div>
                    </div>
            </form>

            <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Возраст</th>
                </tr>
            </thead>
            {% for person in persons %}
                <tr class="patient">
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.middle_name }}</td>
                    <td>{{ person.age }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}